@import "tailwindcss";

@theme {
  --color-customgrey: #f5f6f7;

  --color-customblack: #323130;
  --color-customwhite: #fdfdfd;
  --color-card1: #dff4ce;
  --color-card2: #fff1d8;
  --color-card3: #fff1d8;
  --color-card4: #fff1d8;
  --color-card5: #fff1d8;
}
